<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Error 500 -->
<div class="d-flex flex-column flex-column-fluid">
<!--begin::Content-->
<div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">
    <!--begin::Logo-->
    <a href="/jet-html-free/index.html" class="pt-lg-20 mb-12">
        <img alt="Logo" src="/jet-html-free/assets/media/logos/logo-default.svg" class="h-70px"/> 
    </a> 
    <!--end::Logo-->

    
<!--begin::Logo-->
<h1 class="fw-bolder fs-2qx text-gray-800 mb-10">System Error</h1>
<!--end::Logo-->

<!--begin::Message-->
<div class="fw-bold fs-3 text-muted mb-15">
    Something went wrong! <br/> Please try again later.
</div>      
<!--end::Message-->

<!--begin::Action-->
<div class="text-center">
    <a href="/jet-html-free/index.html" class="btn btn-lg btn-primary fw-bolder">Go to homepage</a>        
</div>       
<!--end::Action-->

</div>
<!--end::Content-->

<!--begin::Illustration-->
<div 
    class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-350px" 
    style="background-image: url(/jet-html-free/assets/media/illustrations/sigma-1/7.png)"> 
</div>
<!--end::Illustration-->
</div>
<!--end::Authentication - Error 500-->
                         </div>
<!--end::Main-->